// Mixins in here
.flex(@justify, @align){
    display:flex;
    justify-content:@justify;
    align-items:@align;
}

.text-style(@decoration, @size, @color){
    text-decoration:@decoration;
    font-size:@size;
    color:@color;
}

.dashed-border(){
    border-bottom: 2px dashed @navigation-border;
}